{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 5 versions",
                        "Explorer >= 11"
                    ]
                }
            }
        ]
    ]
}
